In [1]:
#importing libraries
import pandas as pd
import sqlite3

In [2]:
#insert path
path = '/Users/akankshabakshi/world-indicators.sqlite'

In [4]:
#build connection
conn = sqlite3.connect(path)

In [5]:
#all tables query
query = "select * from sqlite_master where type = 'table';"

In [6]:
#data frame for world indicators
world_indicators = pd.read_sql_query(query, conn)

In [7]:
#viewing all tables rows and columns
world_indicators

,type,name,tbl_name,rootpage,sql
0,table,Country,Country,2,"CREATE TABLE Country (\n CountryCode TEXT,\..."
1,table,CountryNotes,CountryNotes,186,CREATE TABLE CountryNotes (\n Countrycode T...
2,table,Series,Series,948,"CREATE TABLE Series (\n SeriesCode TEXT,\n ..."
3,table,Indicators,Indicators,4448,CREATE TABLE Indicators (\n CountryName TEX...
4,table,SeriesNotes,SeriesNotes,1317550,CREATE TABLE SeriesNotes (\n Seriescode TEX...
5,table,Footnotes,Footnotes,1317587,CREATE TABLE Footnotes (\n Countrycode TEXT...

In [10]:
#query for country table
country = pd.read_sql_query('select * from country', conn)

In [11]:
#view country table
country

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",,2013/14,,2013,2000
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011,2013,2006
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",,,2010,2013,2001
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,,East Asia & Pacific,Upper middle income,AS,...,,,2010,,,Yes,2007,,,
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,,Europe & Central Asia,High income: nonOECD,AD,...,,,2011. Population data compiled from administra...,,,Yes,,,2006,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,WBG,West Bank and Gaza,West Bank and Gaza,West Bank and Gaza,PS,Israeli new shekel,The new base year is 2004.,Middle East & North Africa,Lower middle income,GZ,...,Budgetary central government,Special Data Dissemination Standard (SDDS),2007,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011",,,2010,,2005
243,WLD,World,World,World,1W,,World aggregate.,,,1W,...,,,,,,,,,,
244,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Based on official government statistics and In...,Middle East & North Africa,Lower middle income,RY,...,Budgetary central government,General Data Dissemination System (GDDS),2004,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2005",,,2009,2013,2005
245,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,The new base year is 2010. National accounts d...,Sub-Saharan Africa,Lower middle income,ZM,...,Budgetary central government,General Data Dissemination System (GDDS),2010,"Demographic and Health Survey (DHS), 2013/14","Integrated household survey (IHS), 2010",,2010. Population and Housing Census.,,2013,2002
246,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,Sub-Saharan Africa,Low income,ZW,...,Consolidated central government,General Data Dissemination System (GDDS),2012,"Multiple Indicator Cluster Survey (MICS), 2014","Integrated household survey (IHS), 2011/12",,,,2013,2002

In [12]:
#view first 5 records of the country table
country.head(5)

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",,2013/14,,2013,2000
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011,2013,2006
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",,,2010,2013,2001
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,,East Asia & Pacific,Upper middle income,AS,...,,,2010,,,Yes,2007,,,
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,,Europe & Central Asia,High income: nonOECD,AD,...,,,2011. Population data compiled from administra...,,,Yes,,,2006,

In [14]:
#view country table columns
country.columns

Index(['CountryCode', 'ShortName', 'TableName', 'LongName', 'Alpha2Code',
       'CurrencyUnit', 'SpecialNotes', 'Region', 'IncomeGroup', 'Wb2Code',
       'NationalAccountsBaseYear', 'NationalAccountsReferenceYear',
       'SnaPriceValuation', 'LendingCategory', 'OtherGroups',
       'SystemOfNationalAccounts', 'AlternativeConversionFactor',
       'PppSurveyYear', 'BalanceOfPaymentsManualInUse',
       'ExternalDebtReportingStatus', 'SystemOfTrade',
       'GovernmentAccountingConcept', 'ImfDataDisseminationStandard',
       'LatestPopulationCensus', 'LatestHouseholdSurvey',
       'SourceOfMostRecentIncomeAndExpenditureData',
       'VitalRegistrationComplete', 'LatestAgriculturalCensus',
       'LatestIndustrialData', 'LatestTradeData', 'LatestWaterWithdrawalData'],
      dtype='object')

In [15]:
#view all tables of the world indicators dataset
world_indicators

,type,name,tbl_name,rootpage,sql
0,table,Country,Country,2,"CREATE TABLE Country (\n CountryCode TEXT,\..."
1,table,CountryNotes,CountryNotes,186,CREATE TABLE CountryNotes (\n Countrycode T...
2,table,Series,Series,948,"CREATE TABLE Series (\n SeriesCode TEXT,\n ..."
3,table,Indicators,Indicators,4448,CREATE TABLE Indicators (\n CountryName TEX...
4,table,SeriesNotes,SeriesNotes,1317550,CREATE TABLE SeriesNotes (\n Seriescode TEX...
5,table,Footnotes,Footnotes,1317587,CREATE TABLE Footnotes (\n Countrycode TEXT...

In [17]:
#query of country notes table 
country_notes = pd.read_sql_query('select * from countrynotes', conn)

In [18]:
#As this is a huge dataset, we should view only first 5 records of the country notes table
country_notes.head(5)

,Countrycode,Seriescode,Description
0,ABW,EG.EGY.PRIM.PP.KD,Sources: Estimated based on UN Energy Statisti...
1,ABW,EG.ELC.RNEW.ZS,Sources: UN Energy Statistics (2014)
2,ABW,EG.FEC.RNEW.ZS,Sources: UN Energy Statistics (2014)
3,ABW,SM.POP.NETM,Data sources : United Nations World Population...
4,ABW,SM.POP.TOTL,Estimates are derived from data on foreign-bor...

In [19]:
#query for series table
series = pd.read_sql_query('select * from series', conn)

In [20]:
#view series table
series

,SeriesCode,Topic,IndicatorName,ShortDefinition,LongDefinition,UnitOfMeasure,Periodicity,BasePeriod,OtherNotes,AggregationMethod,LimitationsAndExceptions,NotesFromOriginalSource,GeneralComments,Source,StatisticalConceptAndMethodology,DevelopmentRelevance,RelatedSourceLinks,OtherWebLinks,RelatedIndicators,LicenseType
0,BN.KLT.DINV.CD,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net (BoP, current US$)",,Foreign direct investment are the net inflows ...,,Annual,,,,,,Note: Data are based on the sixth edition of t...,"International Monetary Fund, Balance of Paymen...",,,,,,Open
1,BX.KLT.DINV.WD.GD.ZS,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net inflows (% of GDP)",,Foreign direct investment are the net inflows ...,,Annual,,,Weighted average,FDI data do not give a complete picture of int...,,Note: Data starting from 2005 are based on the...,"International Monetary Fund, International Fin...",Data on equity flows are based on balance of p...,Private financial flows - equity and debt - ac...,,,,Open
2,BX.KLT.DINV.CD.WD,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net inflows (BoP, c...",,Foreign direct investment refers to direct inv...,,Annual,,,Sum,FDI data do not give a complete picture of int...,,Note: Data starting from 2005 are based on the...,"International Monetary Fund, Balance of Paymen...",Data on equity flows are based on balance of p...,Private financial flows - equity and debt - ac...,,,,Open
3,BM.KLT.DINV.GD.ZS,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net outflows (% of ...",,Foreign direct investment are the net inflows ...,,Annual,,,Weighted average,,,Note: Data are based on the sixth edition of t...,"International Monetary Fund, International Fin...",,,,,,Open
4,BN.TRF.KOGT.CD,Economic Policy & Debt: Balance of payments: C...,"Net capital account (BoP, current US$)",,Net capital account records acquisitions and d...,,Annual,,,,,,Note: Data are based on the sixth edition of t...,"International Monetary Fund, Balance of Paymen...",,,,,,Open
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,SL.UEM.1524.FE.NE.ZS,Social Protection & Labor: Unemployment,"Unemployment, youth female (% of female labor ...",,Youth unemployment refers to the share of the ...,,Annual,,,Weighted average,Data on youth unemployment are drawn from labo...,,"Data are based on labor force sample surveys, ...","International Labour Organization, Key Indicat...",The standard definition of unemployed persons ...,Youth unemployment is an important policy issu...,,,,Open
1341,SL.UEM.1524.MA.ZS,Social Protection & Labor: Unemployment,"Unemployment, youth male (% of male labor forc...",,Youth unemployment refers to the share of the ...,,Annual,,,Weighted average,There may be persons not currently in the labo...,,The unemployment rates presented here are the ...,"International Labour Organization, Key Indicat...",The standard definition of unemployed persons ...,Youth unemployment is an important policy issu...,,,,Open
1342,SL.UEM.1524.MA.NE.ZS,Social Protection & Labor: Unemployment,"Unemployment, youth male (% of male labor forc...",,Youth unemployment refers to the share of the ...,,Annual,,,Weighted average,Data on youth unemployment are drawn from labo...,,"Data are based on labor force sample surveys, ...","International Labour Organization, Key Indicat...",The standard definition of unemployed persons ...,Youth unemployment is an important policy issu...,,,,Open
1343,SL.UEM.1524.ZS,Social Protection & Labor: Unemployment,"Unemployment, youth total (% of total labor fo...",,Youth unemployment refers to the share of the ...,,Annual,,,Weighted average,There may be persons not currently in the labo...,,The unemployment rates presented here are the ...,"International Labour Organization, Key Indicat...",The standard definition of unemployed persons ...,Youth unemployment is an important policy issu...,,,,Open
1344,SL.UEM.1524.NE.ZS,Social Protection & Labor: Unemployment,"Unemployment, youth total (% of total labor fo...",,Youth unemployment refers to the share of the ...,,Annual,,,Weighted average,Data on youth unemployment are drawn from labo...,,"Data are based on labor force sample surveys, ...","International Labour Organization, Key Indicat...",The standard definition of unemployed persons ...,Youth unemployment is an important policy issu...,,,,Open

In [21]:
#As the columns are a lot of the series table, 
series.columns

Index(['SeriesCode', 'Topic', 'IndicatorName', 'ShortDefinition',
       'LongDefinition', 'UnitOfMeasure', 'Periodicity', 'BasePeriod',
       'OtherNotes', 'AggregationMethod', 'LimitationsAndExceptions',
       'NotesFromOriginalSource', 'GeneralComments', 'Source',
       'StatisticalConceptAndMethodology', 'DevelopmentRelevance',
       'RelatedSourceLinks', 'OtherWebLinks', 'RelatedIndicators',
       'LicenseType'],
      dtype='object')

In [22]:
#view all tables in world indicator dataset
world_indicators

,type,name,tbl_name,rootpage,sql
0,table,Country,Country,2,"CREATE TABLE Country (\n CountryCode TEXT,\..."
1,table,CountryNotes,CountryNotes,186,CREATE TABLE CountryNotes (\n Countrycode T...
2,table,Series,Series,948,"CREATE TABLE Series (\n SeriesCode TEXT,\n ..."
3,table,Indicators,Indicators,4448,CREATE TABLE Indicators (\n CountryName TEX...
4,table,SeriesNotes,SeriesNotes,1317550,CREATE TABLE SeriesNotes (\n Seriescode TEX...
5,table,Footnotes,Footnotes,1317587,CREATE TABLE Footnotes (\n Countrycode TEXT...

In [23]:
#query of indicators table
indicators = pd.read_sql_query('select * from indicators', conn)

In [24]:
#view records of indicators table
indicators

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
...,...,...,...,...,...,...
5656453,Zimbabwe,ZWE,Time required to register property (days),IC.PRP.DURS,2015,3.600000e+01
5656454,Zimbabwe,ZWE,Time required to start a business (days),IC.REG.DURS,2015,9.000000e+01
5656455,Zimbabwe,ZWE,Time to prepare and pay taxes (hours),IC.TAX.DURS,2015,2.420000e+02
5656456,Zimbabwe,ZWE,Time to resolve insolvency (years),IC.ISV.DURS,2015,3.300000e+00
5656457,Zimbabwe,ZWE,Total tax rate (% of commercial profits),IC.TAX.TOTL.CP.ZS,2015,3.280000e+01

In [26]:
#query for series notes table
series_notes = pd.read_sql_query('select * from seriesnotes', conn)

In [27]:
#view series_notes table records
series_notes

,Seriescode,Year,Description
0,SP.ADO.TFRT,YR1960,Interpolated using data for 1957 and 1962.
1,SP.DYN.AMRT.FE,YR1960,"Interpolated using data for 1957 and 1962, if ..."
2,SP.DYN.AMRT.MA,YR1960,"Interpolated using data for 1957 and 1962, if ..."
3,SP.DYN.TO65.FE.ZS,YR1960,Interpolated using data for 1957 and 1962.
4,SP.DYN.TO65.MA.ZS,YR1960,Interpolated using data for 1957 and 1962.
...,...,...,...
364,NY.ADJ.SVNG.GN.ZS,YR2013,"Pollution damage data are for 2010, the most r..."
365,SM.POP.REFG,YR2014,2014 data are provisional and subject to change
366,SM.POP.REFG.OR,YR2014,2014 data are provisional and subject to change.
367,SP.ADO.TFRT,YR2014,Interpolated using data for 2012 and 2017.
368,DT.DOD.PVLX.CD,YR2014,Present value calculations for these countries...

In [28]:
#view all tables of world indicator dataset
world_indicators

,type,name,tbl_name,rootpage,sql
0,table,Country,Country,2,"CREATE TABLE Country (\n CountryCode TEXT,\..."
1,table,CountryNotes,CountryNotes,186,CREATE TABLE CountryNotes (\n Countrycode T...
2,table,Series,Series,948,"CREATE TABLE Series (\n SeriesCode TEXT,\n ..."
3,table,Indicators,Indicators,4448,CREATE TABLE Indicators (\n CountryName TEX...
4,table,SeriesNotes,SeriesNotes,1317550,CREATE TABLE SeriesNotes (\n Seriescode TEX...
5,table,Footnotes,Footnotes,1317587,CREATE TABLE Footnotes (\n Countrycode TEXT...

In [29]:
#query for foot notes 
foot_notes = pd.read_sql_query('select * from footnotes', conn)

In [30]:
#viewing foot note table rows and columns
foot_notes

,Countrycode,Seriescode,Year,Description
0,ABW,AG.LND.FRST.K2,YR1990,Not specified
1,ABW,AG.LND.FRST.K2,YR2000,Not specified
2,ABW,AG.LND.FRST.K2,YR2005,Not specified
3,ABW,BX.KLT.DINV.CD.WD,YR1987,Source: United Nations Conference on Trade and...
4,ABW,BX.KLT.DINV.CD.WD,YR1988,Source: United Nations Conference on Trade and...
...,...,...,...,...
532410,ZWE,TX.VAL.MRCH.XD.WD,YR2006,Source: UNCTAD Handbook of Statistics and data...
532411,ZWE,TX.VAL.MRCH.XD.WD,YR2007,Source: UNCTAD Handbook of Statistics and data...
532412,ZWE,TX.VAL.MRCH.XD.WD,YR2008,Source: UNCTAD Handbook of Statistics and data...
532413,ZWE,TX.VAL.MRCH.XD.WD,YR2009,Source: UNCTAD Handbook of Statistics and data...
532414,ZWE,TX.VAL.MRCH.XD.WD,YR2010,Source: UNCTAD Handbook of Statistics and data...